
* {
    font-family: 'Montserrat' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-image: linear-gradient(#4187c0, #d6e9ff);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
}

.profile-img {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

table {
    width: 100%;
    border: 1px solid #666;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #666;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #75c1ff;
}

ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .profile-img img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
    .profile-img{
        text-align: left;
        margin-left: 20px;
    }

    .profile-img img {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p, th, td {
        font-size: 0.9em;
    }

    ul {
        padding-left: 15px;
    }
}
